/* Edit To Do modal Container */

.editTodoModalContainer {
    display: none;
}

.editTodoModalContainerAfter {
    position: fixed;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 1px gray;
    z-index: 1001;
    overflow: hidden;
    filter: blur(0px);
    z-index: 1002;
    animation: openEditTodoModal .5s forwards
}

.editTodoModalContainerAfterClose {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 1px gray;
    z-index: 1001;
    overflow: hidden;
    animation: closeEditTodoModal .25s forwards
}

/* Edit To Do Modal Title */

#editTodoModalTitle {
    position: relative;
    background-color: var(--theme-color);
    font-size: 6vw;
    height: 12vw;
    line-height: 12vw;
    text-indent: 6vw;
}

/* Edit To Do Modal Close */

#editTodoModalClose {
    position: absolute;
    background-color: var(--secondary-theme-color);
    right: 0;
    top: 0;
    margin-right: 4vw;
    margin-top: 3vw;
    border-radius: 20px;
    width: 16vw;
    height: 7vw;
    line-height: 7vw;
    text-align: center;
}

/* Edit To Do Modal Name */

#editTodoModalName {
    position: relative;
    left: 2vw;
    top: 4vw;
}

/* Edit To Do Modal Name Input */

#editTodoModalNameInput {
    position: relative;
    top: -2vw;
    left: 4vw;
    width: 70%;
    background-color: transparent;
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid gray;
    height: 6vw;
}

/* Edit To Do Modal Time */

#editTodoModalTime {
    position: relative;
    left: 2vw;
    top: 8vw;
}

/* Edit To Do Modal Time  Input */

#editTodoModalTimeInput {
    position: relative;
    top: -2vw;
    left: 3vw;
    width: 70%;
    background-color: transparent;
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid gray;
    height: 6vw;
}

/* Edit To Do Modal Notes */

#editTodoModalNotes {
    position: relative;
    left: 2vw;
    top: 12vw;
}

/* Edit To Do Modal Notes textarea */

#editTodoModalNotesInput {
    position: relative;
    top: 8vw;
    left: 18vw;
    width: 70%;
    min-height: 14vw;
    background-color: transparent;
    border-radius: 10px;
    height: 6vw;
    text-indent: 2vw;
    padding-top: 2vw;
}

/* Edit To Do Modal Submit */

#editTodoModalSubmit {
    position: relative;
    background-color: var(--theme-color);
    width: 20vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
    border-radius: 20px;
    top: 10vw;
    left: 36vw;
}

@keyframes openEditTodoModal {
    from {
        width: 0vw;
        height: 0vw;
        top: 60vw;
        left: 50%;
    }
    to {
        height: 70vw;
        width: 90%;
        top: 40vw;
        left: 4%;
    }
}

@keyframes closeEditTodoModal {
    from {
        height: 70vw;
        width: 90%;
        top: 40vw;
        left: 5%;
    }
    to {
        width: 0vw;
        height: 0vw;
        top: 60vw;
        left: 50%;
        box-shadow: none;
    }
}