#singleItemContainer {
    margin-top: 4vw;
}

#singleItemContainer:last-child {
    margin-bottom: 100px;
}

@keyframes openTask {
    from {
        height: 8vw;
    }
    to {
        height: 36vw;
    }
}

@keyframes closeTask {
    from {
        height: 30vw;
    }
    to {
        height: 8vw;
    }
}

#completedItemsContainer{
    margin-bottom: 100px;
    
}

#completedTodosList {
    position: relative;
    top: 8vw;
    width: 100vw;
    text-indent: 10vw;
    
}

#completedTodosUnderline {
    position: relative;
    border-bottom: 1px solid gray;
    width: 90vw;
    left: 5vw;
    top: 3vw;
    margin-bottom: 60px;
}

#uncompletedTodosList{
    text-indent: 10vw;
    
}

#uncompletedTodoUnderline {
    position: relative;
    border-bottom: 1px solid gray;
    width: 90vw;
    left: 5vw;
    top: 3vw;
    margin-bottom: 30px;
    
}